// colors
$green: #60BA62;
$white: #FFFFFF;
$defaultColor: #333333;
$mainGreen: #35BB06;
$mainYellow: #F6D977;
$grey: #ccd1d4;
$bgColor: #f7f6f8;
$error: #F23E2C;
$lightError: #F86A56;
$lightBlue: #F4F7FA;
$disabled: #CED7E0;
$orange: #FA9343;
$lightGrey: #F6F6F6;
$whiteSmoke: #121212;

// font sizes
$smallerFontSize: .625rem;
$smallFontSize: .75rem;
$defaultFontSize: .8125rem;
$middleFontSize: 1rem;
$bigFontSize: 1.25rem;
$h1: 1.75rem;
$h2: 1.25rem;

// font weights
$bold: 700;
$fontWeight: 500;

// another
$defaultBorderRadius: 8px;
$middleBorderRadius: 12px;
$bigBorderRadius: 16px;


